$background-color: #2682D5;
$board-border-color: #eee;
body {
	background-color: $background-color;
	font-family: 'Rammetto One', cursive;
}

#header{
	color: $board-border-color;
	text-align: center;
	font-size: 2em;
}

#player{
	text-align: center;
	width: 500px;
	margin:0 auto;
	margin-top: -40px;

	.player{
		position: relative;
		width: 100%;
		display: inline-flex;
		margin: 0 auto;
	}

	.player_o{
		background-image: url("../images/o.png");
		background-size: 70%;
		background-position: center;
		background-repeat: no-repeat;
		position:absolute;
		width: 100px;
		height: 100px;
		border-style: solid;
		border-color: transparent;
		border-radius: 10px;
		margin: 3px;
		left:0;
	}

	.player_x{
		background-image: url("../images/x.png");
		background-size: 70%;
		background-position: center;
		background-repeat: no-repeat;

		position:absolute;
		width: 100px;
		height: 100px;
		border-style: solid;
		border-color: transparent;
		border-radius: 10px;
		margin: 3px;
		right: 0;
	}

	.result_o,.result_x {
		margin-top: 1em;
		font-size: 1.5em;
		text-shadow: 0px 0px 3px #000;
	}
	.current {
		border-color: $board-border-color;
	}

	.winner {
		background-color: blue;
	}
	.loser {
		background-color: red;
	}
	.draw {
		background-color: green;
	}
}
#board{
	clear: both;
	color: $board-border-color;
	border-style: solid;
	border-width: 10px;
	border-radius: 20px;
	height: 470px;
	width: 470px;
	margin: 0 auto;
	margin-top: 120px;
	.outerBox{
		margin-top: 2px;
		margin:0 auto;
		width: 450px;
		height:450px;
	}

	.box-wrapper {
		margin:0 auto;
		width: 150px;
		height: 150px;
		//height:30vh;
		//width:30vh;
		border-color: $board-border-color;
		background-color: $board-border-color;
		border-width: 1px;
		border-style: solid;
		display: inline-block;
		border-width: 10px;
		float:left;
		.box{
			margin:0 auto;
			width: 130px;
			height: 130px;
			//height:30vh;
			//width:30vh;
			border-color: $background-color;
			background-color: $background-color;
			border-radius: 10px;
			border-width: 1px;
			border-style: solid;
			border-width: 10px;
		}
	}


	.row{
		clear:left;
	}


	.marked_o{
		background-image: url("../images/o.png");
		background-position: center;
		background-size: 90%;
		background-repeat: no-repeat;
	}

	.marked_x{
		background-image: url("../images/x.png");
		background-position: center;
		background-size: 90%;
		background-repeat: no-repeat;
	}

}

#menu {
	text-align:center;

	h2 {
			width: 7em;
			color: $background-color;
			border-style: solid;
			border-color: $board-border-color;
			background-color: $board-border-color;
			border-radius: 5px;
			left:0;
			right: 0;
			margin: 0 auto;
	}
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
